[Desktop Entry]
Name=Activities
Name[ar]=الأنشطة
Name[az]=İş Otaqları
Name[bs]=Aktivnosti
Name[ca]=Activitats
Name[cs]=Aktivity
Name[de]=Aktivitäten
Name[el]=Δραστηριότητες
Name[en_GB]=Activities
Name[es]=Actividades
Name[et]=Tegevused
Name[eu]=Jarduerak
Name[fi]=Aktiviteetit
Name[fr]=Activités
Name[ga]=Gníomhaíochtaí
Name[gd]=Gnìomhachdan
Name[gl]=Actividades
Name[hu]=Aktivitások
Name[ia]=Activitates
Name[is]=Virkni
Name[it]=Attività
Name[kk]=Белсенділіктер
Name[km]=​សកម្មភាព
Name[ko]=활동
Name[lt]=Veiklos
Name[mr]=कार्यपध्दती
Name[nds]=Aktiviteten
Name[nl]=Activiteiten
Name[nn]=Aktivitetar
Name[pl]=Aktywności
Name[pt]=Actividades
Name[pt_BR]=Atividades
Name[ru]=Комнаты
Name[sl]=Dejavnosti
Name[sv]=Aktiviteter
Name[tg]=Фаъолият
Name[tr]=Etkinlikler
Name[ug]=پائالىيەتلەر
Name[uk]=Простори дій
Name[x-test]=xxActivitiesxx
Name[zh_CN]=活动
Comment=List and switch between desktop activities
Comment[az]=İş Masasına aid İş Otaqlarının siyahısı və onlar arasında keçid
Comment[ca]=Llista i commuta entre les activitats d'escriptori
Comment[cs]=Zobrazení a přepínač aktivit pracovní plochy
Comment[de]=Aktivitäten anzeigen und zwischen ihnen umschalten
Comment[el]=Λίστα και εναλλαγή ανάμεσα σε δραστηριότητες της επιφάνειας εργασίας
Comment[en_GB]=List and switch between desktop activities
Comment[es]=Listar y cambiar entre actividades del escritorio
Comment[eu]=Mahaigaineko jarduerak zerrendatu eta haien artean aldatu
Comment[fi]=Luettele aktiviteetit ja vaihda niiden välillä
Comment[fr]=Lister et naviguer parmi les activités de bureau
Comment[ia]=Lista e commuta inter activitates de scriptorio
Comment[it]=Elenca e passa tra le attività del desktop
Comment[ko]=데스크톱 활동을 보거나 바꾸기
Comment[nl]=Bureaubladactiviteiten laten zien en er tussen schakelen
Comment[nn]=Vis og byt mellom skrivebordsaktiviteter
Comment[pl]=Wypisuje aktywności pulpitu oraz przełącza pomiędzy nimi
Comment[pt]=Listar e mudar de actividades no ambiente de trabalho
Comment[pt_BR]=Lista e alterna entre as atividades da área de trabalho
Comment[sl]=Prikaži in preklopi med namiznimi dejavnostmi
Comment[sv]=Lista och byt mellan skrivbordsaktiviteter
Comment[uk]=Перегляд і перемикання між просторами дій стільниці
Comment[x-test]=xxList and switch between desktop activitiesxx
Comment[zh_CN]=显示和切换桌面活动
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=preferences-desktop-activities
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=org.kde.activities2
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
X-Plasma-API=DBus
X-Plasma-DBusRunner-Service=org.kde.runners.activities
X-Plasma-DBusRunner-Path=/runner
X-Plasma-Request-Actions-Once=true
X-Plasma-Runner-Min-Letter-Count=3
