[Desktop Entry]
Name=Activities
Name[ar]=الأنشطة
Name[bs]=Aktivnosti
Name[et]=Tegevused
Name[fr]=Activités
Name[ga]=Gníomhaíochtaí
Name[gd]=Gnìomhachdan
Name[gl]=Actividades
Name[hu]=Aktivitások
Name[ia]=Activitates
Name[is]=Virkni
Name[kk]=Белсенділіктер
Name[km]=​សកម្មភាព
Name[ko]=활동
Name[lt]=Veiklos
Name[mr]=कार्यपध्दती
Name[nds]=Aktiviteten
Name[ro]=Activități
Name[ru]=Комнаты
Name[tg]=Фаъолият
Name[tr]=Etkinlikler
Name[ug]=پائالىيەتلەر
Comment=List and switch between desktop activities
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=preferences-desktop-activities
X-KDE-PluginInfo-Author=Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=org.kde.activities2
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
X-Plasma-API=DBus
X-Plasma-DBusRunner-Service=org.kde.runners.activities
X-Plasma-DBusRunner-Path=/runner
X-Plasma-Request-Actions-Once=true
X-Plasma-Runner-Min-Letter-Count=3
