[Desktop Entry]
Type=Service
Icon=preferences-activities
X-KDE-ServiceTypes=
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
Exec=kactivitymanagerd

Name=Activity Manager
Name[ca]=Gestor d'activitats
Name[ca@valencia]=Gestor d'activitats
Name[de]=Aktivitätenverwaltung
Name[en_GB]=Activity Manager
Name[es]=Gestor de actividades
Name[nl]=Activiteitenbeheerder
Name[pl]=Zarządzanie działaniami
Name[pt]=Gestor de Actividades
Name[pt_BR]=Gerenciador de Atividades
Name[ru]=Диспетчер комнат
Name[sk]=Správca aktivít
Name[sr]=Менаџер активности
Name[sr@ijekavian]=Менаџер активности
Name[sr@ijekavianlatin]=Menadžer aktivnosti
Name[sr@latin]=Menadžer aktivnosti
Name[sv]=Aktivitetshanterare
Name[uk]=Керування просторами дій
Name[x-test]=xxActivity Managerxx

Comment=The activity management backend
Comment[ca]=El dorsal pel gestor d'activitats
Comment[ca@valencia]=El dorsal pel gestor d'activitats
Comment[de]=Backend der Aktivitätenverwaltung
Comment[en_GB]=The activity management backend
Comment[es]=El motor de gestión de actividades
Comment[nl]=De activiteitenbeheerder-backend
Comment[pl]=Silnik zarządzania działaniami
Comment[pt]=A infra-estrutura de gestão de actividades
Comment[pt_BR]=Infraestrutura de gerenciamento de atividades
Comment[ru]=Механизм управления комнатами
Comment[sk]=Backend pre správu aktivít
Comment[sr]=Позадина за управљање активностима
Comment[sr@ijekavian]=Позадина за управљање активностима
Comment[sr@ijekavianlatin]=Pozadina za upravljanje aktivnostima
Comment[sr@latin]=Pozadina za upravljanje aktivnostima
Comment[sv]=Gränssnittet för aktivitetshanteringen
Comment[uk]=Сервер керування просторами дій
Comment[x-test]=xxThe activity management backendxx
