[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=ActivityManager/Plugin

Comment=Activity manager plugin
Comment[ca]=Connector pel gestor d'activitats
Comment[ca@valencia]=Connector pel gestor d'activitats
Comment[cs]=Modul správce aktivit
Comment[da]=Plugin til aktivitetshåndtering
Comment[de]=Modul für Aktivitätenverwaltung
Comment[el]=Πρόσθετο διαχειριστή δραστηριοτήτων
Comment[en_GB]=Activity manager plugin
Comment[es]=Complemento del gestor de actividades
Comment[fi]=Aktiviteettienhallintaliitännäinen
Comment[nl]=Plug-in van activiteitenbeheerder
Comment[nn]=Programtillegg for aktivitetshandsamar
Comment[pl]=Wtyczka do zarządzania działaniami
Comment[pt]='Plugin' de gestão de actividades
Comment[pt_BR]=Plugin do gerenciador de atividades
Comment[sk]=Plugin správcu aktivít
Comment[sl]=Vstavek upravljalnika dejavnosti
Comment[sr]=Прикључак менаџера активности
Comment[sr@ijekavian]=Прикључак менаџера активности
Comment[sr@ijekavianlatin]=Priključak menadžera aktivnosti
Comment[sr@latin]=Priključak menadžera aktivnosti
Comment[sv]=Aktivitetshanterare
Comment[uk]=Додаток керування просторами дій
Comment[x-test]=xxActivity manager pluginxx
Comment[zh_CN]=活动管理器插件

[PropertyDef::X-ActivityManager-PluginOverrides]
Type=QString

